#formbox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
    margin: 0.4rem 0.1rem
}

#formbox input:focus {
    border-color: var(--secondary);
}

#formbox textarea {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
    margin: 0.4rem 0.1rem
}

#formbox button {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
    margin: 0.4rem 0.1rem
}

#formbox textarea:focus {
    border-color: var(--secondary);
}